//Header
.header, .footer {
    background-color: $mid-gray;
}

.spacer {
    margin-top: $spacer;
    margin-bottom: $spacer;
}

.paragraph {
    margin:40px 0px;
}

img.avatar {
    margin: 15px 0px;
}
